# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI
on:
  - push
  - pull_request
jobs:
  test:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v5
      - run: swift test
